data
doc
docker
experimental
htmlcov
wiki
.idea
.ipynb_checkpoints
.*fuse*

*.py[cod]
.coverage*
*credentials

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
lib
lib64

# Sphinx
docs/_build
