contrib
data
doc
phy-doc
docker
experimental
htmlcov
format
wiki
.cache
.idea
.ipynb_checkpoints
.*fuse*
*.orig
*.log*
.eggs
.profile
__pycache__
_old
*.py[cod]
*~
*!
.coverage*
*credentials
tags

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
dist
eggs
parts
bin
var
sdist
develop-eggs
lib
lib64

# Sphinx
docs/_build
