# Need development version of pytest for py35 compat
# https://github.com/pytest-dev/pytest/issues/744
git+https://github.com/pytest-dev/pytest.git

flake8
coverage==3.7.1
coveralls
responses
pytest-cov
pytest-qt
nose
